body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calendario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#mesanio{
  border: solid 0.1em black;
  border-collapse: collapse;
  width: 100%;
  heigth: 10vh;
}

#dias {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.dia {
  height: 7.5vh;
  width: 10vw;
  border: solid 0.1em black;
  border-collapse: collapse;
}
